body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  font-size: 14px;
}

body, html, #root{
  height: 100%;
  padding: 0;
  margin: 0;
}

html, main {
  scroll-behavior: smooth;
}

*, :after, :before {
  box-sizing: border-box;
}


#root .w-empty {
  padding: 50px 0;
}

.w-btn .w-icon {
  font-size: 12px;
}

.w-radio {
  display: inline-flex !important;
  align-items: center;
  height: 30px;
  margin-right: 20px;
}
.w-radio:last-child {
  margin-right: 0;
}

.i--form .w-form {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.w-table table {
  border: 1px solid #e8e8e8;
  border-bottom: none;
}
.w-table table  th {
  padding: 12px 8px !important;
  font-weight: bold !important;
  font-size: 15px;
}
.w-table table td {
  padding: 8px !important;
}
