.tabsRecord > div:first-child {
  top: 0px;
  box-shadow: rgb(0 0 0 / 6%) 0px 3px 10px 0px;
  background: #fff;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1;
  padding: 0px 20px;
}
.tabsRecord .w-tabs-pane {
  margin-top: 50px;
}
.tabsRecord .w-tabs-item {
  padding: 12px;
}
.tabsRecord .w-tabs-bar > .w-tabs-nav > .w-tabs-slide {
  height: 2px !important;
}
.tabsRecord .w-tabs-bar > .w-tabs-nav::after {
  border: 0 !important;
}
.formRecordAtt .w-form {
  margin-bottom: 0 !important;
}

.formRecord .w-form {
  padding: 14px !important;
}

.formRecord .w-dateinputrange-inner {
  width: 100% !important;
}

.formRecord .w-col-align-bottom {
  margin-right: 0 !important;
  padding-right: 0 !important;
}

.formRecord .w-btn {
  margin-right: 0 !important;
  margin-left: 4px;
}
.formRecord .w-table {
  padding: 5px 14px;
  background: #fff;
}